@model MilkTeaECommerce.Models.Models.DiscountViewModel
@{
    ViewData["Title"] = "CreateViewModel";
}

@section Header{
    <link href="~/Admin/css/styles.css" rel="stylesheet" />
}

<h1 class="row justify-content-center">Thêm khuyến mãi</h1>
<hr />
<div class="row justify-content-center">

    <div class="col-lg-6">
        <form asp-action="Create" method="post">

            <div id="check-categorydiv">
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="check_category" class="form-check-input" type="checkbox" />
                        Danh mục sản phẩm
                    </label>
                </div>
                <select  id="select-category" disabled="" style="width:100%" class="js-example-basic-multiple"
                        name="selCategory[]" multiple="multiple">
                    @*@if (ViewBag.Categories.Count != 0)
                    {
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }*@
                </select>
               
            </div>
            <div class="delivery-discount">
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="check-delivery" class="form-check-input" type="checkbox" />
                        Vận chuyển
                    </label>
                </div>
                <select id="select-delivery" disabled="" style="width:100%" class="js-example-basic-multiple disabled"
                        name="selDelivery[]" multiple="multiple">
                    @*@if (ViewBag.Deliveries.Count != 0)
                    {

                        @foreach (var item in ViewBag.Deliveries)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    }*@
                </select>
            </div>
            <div class="product-discount">
                <div class="form-check">
                    <label class="form-check-label">
                        <input id="check-product" class="form-check-input" type="checkbox" />
                        Sản phẩm
                    </label>
                </div>
                <select id="select-product" disabled="" style="width:100%" class="js-example-basic-multiple disabled"
                        name="selProduct[]" multiple="multiple">
                    @*@if (ViewBag.Products.Count != 0)
                    {

                        @foreach (var item in ViewBag.Products)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    }*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input type="date" asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateExpired" class="control-label"></label>
                <input type="date" asp-for="DateExpired" class="form-control" />
                <span asp-validation-for="DateExpired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimesUseLimit" class="control-label"></label>
                <input asp-for="TimesUseLimit" class="form-control" />
                <span asp-validation-for="TimesUseLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentDiscount" class="control-label"></label>
                <input asp-for="PercentDiscount" class="form-control" />
                <span asp-validation-for="PercentDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDiscount" class="control-label"></label>
                <input asp-for="MaxDiscount" class="form-control" />
                <span asp-validation-for="MaxDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- Select 2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/Admin/js/CreateDiscount.js"></script>
}
