@model Discount

<div class="modal fade" id="deleteDiscount">
    <div class="modal-dialog" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="detailMovieLabel">Thông tin chi tiết</h3>

                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Discount</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateStart)
                                </dt>
                                <dd class="col-sm-10">
                                    <label>@Model.DateStart.Value.ToShortDateString()</label>
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateExpired)
                                </dt>
                                <dd class="col-sm-10">
                                    <label>@Model.DateExpired.Value.ToShortDateString()</label>
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TimesUsed)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TimesUsed)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TimesUseLimit)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TimesUseLimit)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PercentDiscount)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PercentDiscount)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.MaxDiscount)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.MaxDiscount)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Code)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Code)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

