@model MilkTeaECommerce.Models.Models.OrderDetailUserViewModel
<div class="wait-confirm-items">
    <div class="item-inner">
        <div class="item-header">
            <!--đây là thông tin của shop, bao gồm ảnh và tên -->
            <!-- phải link về thông tin của shop-->
            <a href="#">
                <img class="avatar-shop" src="@Model.shopimage" alt="shop avatar" />
                <strong>@Model.shopname</strong>
            </a>
            <div>
                <!-- trạng thái có thể sửa dc-->
                <span class="fa fa-truck" aria-hidden="true"> @Model.status</span>

            </div>
        </div>
        <!-- thanh ngang-->
        <div class="breck-line"></div>
        <!-- đây là thông tin order detail-->
        <div class="item-body">
            <div style="display:flex">
                <a href="#">
                    <img class="item-img" src="@Model.productimage" alt="items" />
                </a>
                <div class="info">
                    <h4><strong>@Model.productname</strong></h4>
                    <p>@Model.categoryname</p>
                    <p>@Model.count</p>
                    <!--đơn vị vận chuyenr nếu có-->
                    <p>@Model.deliveryandprice</p>
                </div>
            </div>
            <!--giá từng món-->
            <div>
                <!--giá cũ từng món-->
                <p><del>@Model.beforeprice</del></p>
                <!--giá Khuyến mĩa từng món-->
                <h2 class="text-danger">@Model.afterprice</h2>
            </div>
        </div>
        <!-- nếu trạng thái giao hàng là gì thì ra cái gì-->
        <!-- Cac status = (cho xac nhan,cho lay hang,dang giao, da giao-->
        @if (Model.status == "cho xac nhan")
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.totalprice</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else if (Model.status == "da xac nhan")
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.totalprice</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else if (Model.status == "van chuyen")
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.totalprice</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else if (Model.status == "da nhan")
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.totalprice</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else if (Model.status == "danh gia")
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.totalprice</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }
        else
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @Model.afterprice * Model.count</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }

    </div>
    
</div>