@model MilkTeaECommerce.Models.Models.OrderDetailUserViewModel


<div class="wait-confirm-items">
    <div class="item-inner">
        <div class="item-header">
            <!--đây là thông tin của shop, bao gồm ảnh và tên -->
            <!-- phải link về thông tin của shop-->
            <a href="#">
                <img class="avatar-shop" src="@Model.shopimage" alt="shop avatar" />
                <strong>@Model.shopname</strong>
            </a>
            <div>
                <!-- trạng thái có thể sửa dc-->
                @{string status = ""; }

                @{

                    if (Model.status == OrderDetailStatus.unconfirm.ToString())
                    {
                        status = "Chờ xác nhận";
                    }
                    if (Model.status == OrderDetailStatus.confirmed.ToString())
                    {
                        status = "Đã xác nhận";
                    }
                    if (Model.status == OrderDetailStatus.delivery.ToString())
                    {
                        status = "Đang Vận chuyển";
                    }
                    if (Model.status == OrderDetailStatus.deliveried.ToString() )
                    {
                        status = "Đã nhận";
                    }
                    if (Model.status == OrderDetailStatus.evaluated.ToString())
                    {
                        status = "Đã đánh giá";
                    }
                    if (Model.status == OrderDetailStatus.cancelled.ToString())
                    {
                        status = "Đã Hủy";
                    }


                }

                <span class="fa fa-truck" aria-hidden="true"> @status</span>

            </div>
        </div>
        <!-- thanh ngang-->
        <div class="breck-line"></div>
        <!-- đây là thông tin order detail-->
        <div class="item-body">
            <div style="display:flex">
                <a href="#">
                    <img class="item-img" src="@Model.productimage" alt="items" />
                </a>
                <div class="info">
                    <a href="#"><h4><strong>@Model.productname</strong></h4></a>
                    <p>Phân loại hàng : @Model.categoryname</p>
                    <p>X @Model.count</p>
                    <!--đơn vị vận chuyenr nếu có-->
                    <p>Đơn Vị Vận Chuyển : @Model.deliveryandprice</p>
                </div>
            </div>
            <!--giá từng món-->
            <div>
                <!--giá cũ từng món-->
                <p><del>@Model.beforeprice đ</del></p>
                <!--giá Khuyến mĩa từng món-->
                <h2 class="text-danger">@Model.afterprice đ</h2>
            </div>
        </div>
        <!-- nếu trạng thái giao hàng là gì thì ra cái gì-->
        <!-- Cac status = (cho xac nhan,cho lay hang,dang giao, da giao-->
        @if (Model.status == OrderDetailStatus.unconfirm.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
                <div class="text-right mt">
                   
                    <a class="btn btn-lg btn-info" onclick=CancelOrder("@Model.orderdetailid")>Hủy đơn</a>
                </div>
            </div>
        }
        else if (Model.status == OrderDetailStatus.confirmed.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
                <div class="text-right mt">
                    
                </div>
            </div>

        }
        else if (Model.status == OrderDetailStatus.delivery.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
            </div>
        }
        else if (Model.status == OrderDetailStatus.deliveried.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg" style="background-color:#343a40 ; color:#fff" href="#">Xem chi tiết đơn hàng</a>
                    <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#RatingModal" data-productid="@Model.productid" data-orderdetailid=@Model.orderdetailid>Đánh Giá</a>
                    
                </div>
            </div>
            <!-- pop up danh gia san pham-->
            <!-- đây là cho edit modal-->
        }
        else if (Model.status == OrderDetailStatus.evaluated.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
            </div>
            <div class="text-right mt">
                
                <a href="#" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#RatingModalReadOnly" data-productid="@Model.productid" data-orderdetailid=@Model.orderdetailid>Xem Chi Tiết Đánh Giá</a>
               
            </div>

        }
        else if (Model.status == OrderDetailStatus.cancelled.ToString())
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
            </div>
            

        }

        @*else
        {
            <div class="item-fooder">
                <h1 class="text-right">Tổng tiền: @(Model.afterprice * Model.count)</h1>
                <div class="text-right mt">
                    <a class="btn btn-lg btn-info" href="#">Hủy đơn</a>
                </div>
            </div>
        }*@

    </div>

</div>






