@model MilkTeaECommerce.Models.Product
@{
    ViewData["Title"] = "Detail";
}

<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Chi tiết sản phẩm
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-5 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <ul class="slides">
                        <!--hinhf anhr san pham-->
                        <li data-thumb="@Model.ImageUrl">
                            <div class="thumb-image">
                                <img src="@Model.ImageUrl" data-imagezoom="true" class="img-responsive" alt="">
                            </div>
                        </li>
                        @*<li data-thumb="images/si2.jpg">
                                <div class="thumb-image">
                                    <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt="">
                                </div>
                            </li>
                            <li data-thumb="images/si3.jpg">
                                <div class="thumb-image">
                                    <img src="images/si3.jpg" data-imagezoom="true" class="img-responsive" alt="">
                                </div>
                            </li>*@
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7 single-right-left simpleCart_shelfItem">
            <!--thoong tin san pham-->
            <h3>@Model.Name
            
            </h3>
            
            <p>
                <span class="item_price">@Model.Price VND</span>
                <del>@(Model.Price*2) VND</del>
          
            </p>
           
            <div class="product-single-w3l">
                <p>
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>This is a
                    <label>@Model.Category.Name</label> product.
                </p>
                <ul>
                    @Html.Raw(@Model.Description)
                </ul>
                <p>
                    <i class="fa fa-refresh" aria-hidden="true"></i>All @Model.Category.Name products are
                    <label>non-returnable.</label>
                </p>
            </div>
            <div class="occasion-cart">
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="@Model.Id" />
                            <input type="hidden" name="shipping" value="@Model.ImageUrl" />
                            <input type="hidden" name="item_name" value="@Model.Name" />
                            <input type="hidden" name="amount" value="@(Model.Price*2)" />
                            <input type="hidden" name="discount_amount" value="@Model.Price" />
                            <input type="hidden" name="currency_code" value="VND" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Add to cart" class="button" />
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="container" style="margin-top:100px; border:solid">
        <div class="row" style="margin-top:20px">
            <div class="col-md-4">
                <a href="#">

                    <div style="display:flex;align-items:center">
                        <img src="@(Model.Shop.ImgUrl==null?"":Model.Shop.ImgUrl)" style="border-radius:50%;margin-right:10px" height="50" width="50" />
                        <h4>@Model.Shop.Name</h4>
                        <lable style=" margin-left:20px" class="btn btn-primary btn-sm"> go to shop</lable>
                    </div>

                </a>
                <div class="rating1">
                    <span class="starRating">
                        <input id="rating5" type="radio" name="rating" value="5">
                        <label for="rating5">5</label>
                        <input id="rating4" type="radio" name="rating" value="4">
                        <label for="rating4">4</label>
                        <input id="rating3" type="radio" name="rating" value="3" checked="">
                        <label for="rating3">3</label>
                        <input id="rating2" type="radio" name="rating" value="2">
                        <label for="rating2">2</label>
                        <input id="rating1" type="radio" name="rating" value="1">
                        <label for="rating1">1</label>
                    </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">thông tin A của shop</div>
                    <div class="col-md-4">thông tin A của shop</div>
                    <div class="col-md-4">thông tin A của shop</div>
                    <div class="col-md-4">thông tin A của shop</div>
                    <div class="col-md-4">thông tin A của shop</div>
                    <div class="col-md-4">thông tin A của shop</div>
                </div>
            </div>
        </div>
    </div>
</div>

